body {
  background-color: #F5F5F5;
}

img {
  height: 100px;
}

h1 {
  color: #black;
}

h3 {
  color: #black;
}
hr {
 border-style: none;
 border-top-style: dotted;
 border-color: grey;
 border-width: 5px;
 width: 5%;
}
